# ===== PYTHON =====
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
.env
venv/
.env/
.env.local
.env.*.local

# Archivos de logs
*.log

# ===== NODE / FRONTEND =====
# Dependencias
node_modules/

# Output de build de Vite
dist/
coverage/
*.tsbuildinfo

# Archivos temporales
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ===== Vite =====
.vite/

# ===== TYPESCRIPT =====
*.tsbuildinfo

# ===== GENERAL =====
# Sistema operativo
.DS_Store
Thumbs.db

# VSCode
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# ===== OTROS =====
.idea/
